Hi {{ attendee.first_name }},

First off, thanks a bunch for signing up for shifts and joining us on the Wild West Ride.  I can't wait to see y'all in a few days!

Unfortunately, as per the usual "train on fire" protocol, the email sent about your shift schedule has an error concerning shirts - you will only be receiving ONE event shirt this year. There are no staff shirts for MAGWest this year. We apologize for the confusion and mistake.

As an apology, here is a picture of my cat Juliet.

https://imgur.com/a/SE66A

SEE YOU THIS WEEKEND!
