If you are receiving this, you are registered for <a href="http://magwest.org">{{ c.EVENT_NAME }}</a>, occurring August 10th-12th, 2018. This FAQ should answer most of your questions about the event. You may reach us at contact@magwest.org for any questions not covered here.

<b> Will badges be sold at the door?</b>
Yes. Full three-day weekend badges will be available for $80, and one day badges will be available for $45 for Friday, $50 for Saturday, and $25 for Sunday. Children 5 & under are free, and children 12 & under receive a discount equal to half of the current badge price (available for weekend badges only). We may sell out of one day badges at the door, so if you have friends who haven't gotten their MAGWest badge yet, encourage them to grab a weekend badge now and secure their spot.

<b>Where can I park for the weekend?</b>
The Hyatt Regency Santa Clara offers free parking for attendees. Lucky you!

<b>Where do I go when I arrive? How do I pick up my badge?</b>
The first step is to go to the registration desk located in the lobby of the Hyatt Regency to pick up your badge. The registration desk is open from 9:00 AM to 12:00 AM Friday and Saturday, and 10:00 AM to 1:00 PM Sunday. If you pre-registered, simply show photo ID such as a driver's license, military ID, or student ID to the registration staffers. If you do not have a photo ID, print out the confirmation e-mail you received when you pre-registered.

<b>Which registration line do I use?</b>
- Attendees who purchased a standard badge should use the "Pre-Registered Badge Pickup" line.
- Staff, Supporters, Guests, and Panelists should use the line that lists those categories.
- If you are not already registered for a badge, you can register on your phone and then join the "Pre-Registered Badge Pickup" line, or head to our handy "At-Door Registration" kiosks first.

<b>Where can I pick up swag that I pre-ordered, such as a t-shirt or supporter bundle?</b>
After you've picked up your badge, you can pick up your swag at the MAGFest merch booth. The merch booth is conveniently co-located with Registration.

<b>Where can I view a schedule of events?</b>
<i>Visit the MAGWest website</i>: Go to the MAGWest <a href="http://magwest.org" target="_blank">website</a> and click Schedule at the top right or use the following link to go straight to the <a href="https://west2018.uber.magfest.org/uber/schedule/" target="_blank">MAGWest 2018 schedule</a> 

<b>Can I check if I'm pre-registered?</b>
Use <a href="https://west2018.uber.magfest.org/uber/preregistration/check_if_preregistered">this page</a> to check your registration status.

<b>Do you provide refunds or badge transfers?</b>
We do not provide refunds, but we do allow you to sell or transfer your badge to anyone you wish. E-mail regsupport@magfest.org from the original e-mail address you registered with (or provide the original e-mail) along with your full name, and we will send you a link to transfer your badge as soon as we can.

<b>Only questions about badge transfers, badge confirmations, or general registration questions should be e-mailed to the registration desk e-mail address. We are unable to respond to any other inquiries.</b>
