<script>
    if (window.BADGE_TYPES) {
        window.BADGE_TYPES.options[0].description = 'Allows access to the festival for its duration ({{ c.EPOCH|datetime:"%b %-d" }}-{{ c.ESCHATON|datetime:"%b %-d" }}). {% price_notice "Preregistration" c.PREREG_TAKEDOWN %}';
        $(function() {
            if ($.field('amount_extra')) {
                $.field('amount_extra').parents('.form-group').hide()
            }
        })
    }
</script>

<!--<div id="tshirt-size-guide">Size guides:
    <a href="http://www.mygildan.com/Categories/T-Shirts/Short-Sleeve//p/2000" target="_blank">Unisex</a>,
    <a href="http://www.mygildan.com/Categories/T-Shirts/Short-Sleeve//p/2000L" target="_blank">Female</a>
</div>-->