<!doctype html>
<html>
<head>
  <title>MAGWest Merch</title>
  <style type="text/css">
    html, html * { font-family: Arial, Helvetica, sans-serif; }
    img { max-width: 100%; }
    h1 { text-align: center; }
  </style>
</head>
<body>

<h1>MAGWest Merch</h1>

<p>Submerge yourself in MAGWest's ink-soaked collections, with two Tiers of merch to choose from, each packed with exclusive items!</p>
<p>First up, the T-Shirt Tier: This bundle boasts a Splat-tastic Event T-Shirt, an Ink-credible Exclusive Lanyard, and a Squid-sationable Pin to show off your drip. We've been paint-stakingly crafting the most ink-spiring merch for our 5th color-bration of music and gaming; Nothing lacquer-luster here! … You'll be so… fish-ionable...</p>
<p>...okay I'm done... ANYWAY,</p>
<p>If you want the big tuna of merch packages, go for the Splat Tier! It includes everything in the T-Shirt Tier and SO MUCH MORE. Let's go down the list together. [sharp inhale]</p>
<p>We've got a MAGWest Super Soaker-esque water Gun, a dope Splat (slap) Bracelet, a Wooden Easel Paint Kit, some MAGWest Sunglasses, a pair of full-print Socks, some Squid-shaped sticky notes (for inking your enemy's turf around the hotel), a Customized Legionnaire Hat, a MAGWest Messenger Bag, a wearable Hydration Backpack, and even MORE surprise swag! WHEW! The Splat Tier is our biggest and most ink-spirational merch pack we've ever made! (...Sorry, I couldn't help myself.)</p>
<p>Make sure you add your kick-in merch now, because we've sadly got limited quantities of both packages. Stay fresh!</p>

</body>
</html>
