<!doctype html>
<html>
<head>
  <title>MAGWest Merch</title>
  <style type="text/css">
    html, html * { font-family: Arial, Helvetica, sans-serif; }
    img { max-width: 100%; }
    h1 { text-align: center; }
  </style>
</head>
<body>

<h1>MAGWest Merch</h1>
<p>Equip yourself with one of our two merch tiers, packed with exclusive items!</p>

<p>The <strong>T-Shirt Tier</strong> includes:
  <ul>
    <li>MAGWest Themed Shirt</li>
    <li>Themed Lanyard</li>
    <li>Themed Pin</li>
    <li>Sticker Sheet</li>
  </ul>
</p>

<p>The <strong>Phantom Tier</strong> includes:
  <ul>
    <li>Everything in the T-Shirt Tier</li>
    <li>Custom MAGWest Blanket</li>
    <li>Large Travel Mug</li>
    <li>Whole-bean Fresh Coffee</li>
    <li>Customizable Phantom Masquerade Mask</li>
    <li>Full-print Themed Gaiter</li>
    <li>MAGWest Playing Card Deck</li>
    <li>Personal Notebook with Attached Pen</li>
    <li>MAGWest 10,000 MAH Powerbank</li>
    <li>MAGFest Gunship Swadge with 15 games/modes</li>
    <li>PLUS MORE SURPRISES TO BE ADDED!</li>
  </ul>
</p>

<p>All merchandise is made with custom designs! Included items are subject (but not likely) to change.</p>

</body>
</html>
