<!doctype html>
<html>
<head>
  <title>Jet Tier</title>
  <style type="text/css">
    html, html * { font-family: Arial, Helvetica, sans-serif; }
    img { max-width: 100%; }
    h1 { text-align: center; }
  </style>
</head>
<body>

<h1>Jet Tier</h1>

<p>
  Oh, you want it ALL, do you? Well, we’ve got you covered. Obviously, you’ll get everything in the previous tiers, but on top of that, you’ll receive:
</p>
<ul>
  <li>A full-print MAGWest Beach Towel</li>
  <li>Custom-printed artisan soap (that good stuff from Etsy)</li>
  <li>A portable Bluetooth speaker with a FULL color grill art print—and this speaker is actually nice, not some crappy corporate Christmas party speaker.</li>
  <li>The 2022 MAGFest Swadge—this year featuring an OLED screen, multiple games, sick LEDs, all in a rad chainsaw design.</li>
  <li>A CUSTOM-TO-YOU engraved infinity-vacuum metal water bottle. That’s right, we’ll be reaching out to you via email, where you’ll have the ability to customize our MAGWest water bottle with your own name, word, or possibly even vector design. More information later.</li>
</ul>

<p class="help-block">Once again, merch items and designs may be subject to change, but we’re committed to making sure you’ll love each and every item you receive. (Or at least, ya know, not put it in a landfill.)</p>

</body>
</html>
