<!doctype html>
<html>
<head>
  <title>Mayor's Package</title>
  <style type="text/css">
    html, html * { font-family: Arial, Helvetica, sans-serif; }
    img { max-width: 100%; }
    h1 { text-align: center; }
  </style>
</head>
<body>

<h1>Mayor's Package</h1>

<p>
  <em>OH BABY.</em> For $150, this is the big enchilada. Not only do you get all of the previous tiers, but you also get a̶̛̲͕̒̀r̷̛͚̮͕̬̰͌̐̓j̸̛̭̮̠̟͒g̵͚̘͑͒͆̚b̶̢͇͚̯͈̐ ̴̡̱̜͔͛͂́̐i̶̮̅̎k̶̞̫͍̉́ͅǫ̸̟̜͕̻̣͐̋͗͝ë̶̜̺́͆͗͝ …. wait… WHAT DOES THIS SAY!?
</p>
<p>
  Okay, we’re busy trying to decode this, but in the meantime you can trust that this tier will contain the absolute dopest, most exclusive swag available. And, hey, surprises are fun!
</p>
<p>
  FYO, we have <em>insanely</em> limited quantity available, so don’t sleep on this. You really won’t want to miss out!
</p>

<img src="../static/swag/super.png">

<p class="help-block">Quantities are limited; final designs may change.</p>

</body>
</html>
