<!doctype html>
<html>
<head>
  <title>Supporter Package</title>
  <style type="text/css">
    html, html * { font-family: Arial, Helvetica, sans-serif; }
    img { max-width: 100%; }
    h1 { text-align: center; }
  </style>
</head>
<body>

<h1>Supporter Package</h1>

<p>
  Beat the heat with a handheld fan, featuring the MAGWest logo! You’ll also get a custom lanyard for your badge, some sweet stickers for your favorite things, a red balloon for attaching gifts, and a genuine Li’l Bandit Sleep Mask! All of these things will come packed into a neat themed drawstring bag for convenience! Plus a few mystery items we haven’t even revealed!
</p>
<p>
  Combine all this plus the previous tier, and you’ve got a package you just cannot skip!
</p>
<p class="help-block">Quantities are limited; final designs may change.</p>

<img src="../static/swag/supporter.png">

</body>
</html>
