<!doctype html>
<html>
<head>
  <title>Supporter Package</title>
  <style type="text/css">
    html, html * { font-family: Arial, Helvetica, sans-serif; }
    img { max-width: 100%; }
    h1 { text-align: center; }
  </style>
</head>
<body>

<h1>Supporter Package</h1>

<p>
  Oh yeah, now we’re talkin’! In this package, not only do you get everything in the T-Shirt Tier, but we’ve got a whole damn list of exclusive extras. We’re talking finger skates for quick impromptu tricks, original graffiti stickers to LEGALLY embellish your surroundings, a wrist sweatband so you can keep a firm grip on that can, and of course our patented* MAGWest Sunscreen (*not actually patented) so you can stay safe while you shred outside. All that, plus:
  <ul>
    <li>A backpack drawstring zip-up bag</li>
    <li>A sick yo-yo</li>
    <li>Limited edition MAGWest popcorn</li>
    <li>Some GUM</li>
    <li>And maybe some more surprises?</li>
  </ul>
</p>
<p class="help-block">
  (Merch items and designs may be subject to change, but will always remain sick.)
</p>

</body>
</html>
