<!doctype html>
<html>
<head>
  <title>Event-themed T-shirt</title>
  <style type="text/css">
    html, html * { font-family: Arial, Helvetica, sans-serif; }
    img { max-width: 100%; }
    h1 { text-align: center; }
  </style>
</head>
<body>

<h1>Event-themed T-shirt</h1>

<p>
  Be the talk of the town with an official event T-shirt. The shirt feels like <em>premium</em> cloth and has our cute AF logo.

BUT WAIT, that’s not all! You’ll also receive a sweet button that perfectly exemplifies MAGWest to the core!
</p>

<img src="../static/swag/shirt.png">

</body>
</html>
